<div class="content">
	<div class="container center shadow text-big">Friends</div>
	<div class="container center shadow main-container">
		<form method="post">
			<table class="col-5 center">
				<tr>
					<td class="">
						<input class="input col-10" type="text" name="query" maxlength="30" placeholder="Search username"><br/>
					</td>
					<td class="">
						<input class="button btn-blue btn-med col-8" type="submit" name="search" value="Search">
					</td>
				</tr>
			</table>
		</form>
		<hr>
!?{my-friends}
		<div class="center text-med">My friends</div>
!#
		<table class="col-7 center">
			<tr class="user-result">
!?{image}
				<td class="col-1 center">
!$					<img style="max-width:45px; max-height: 45px;" src="/img/!${image}">
				</td>
!?[image]
				<td class="text-nm col-1" style="text-align: left">
!$					!${friend}
				</td>
			</tr>
		</table>
		<hr class="col-7">
!#
!?[my-friends]
!?{search}
!$		<div class="center text-med">Search results for !${search}</div>
!#
		<form method="post">
			<table class="col-7 center">
				<tr class="user-result">
!?{image}
					<td class="col-1 center">
!$						<img style="max-width:45px; max-height: 45px;" src="/img/!${image}">
					</td>
!?[image]
					<td class="text-nm col-1" style="text-align: left">
!$						!${name}
					</td>
!?{logged}
					<td class="text-nm col-1">
!$						<input hidden type="text" name="uname" value="!${name}">
						<input class="button btn-blue btn-med" type="submit" name="add-friend" value="Add friend">
					</td>
!?[logged]
				</tr>
			</table>
		</form>
		<hr class="col-7">
!#
!?[search]
	</div>
</div>