<div class="content">
	<div class="container center shadow text-big">Post</div>
	<div class="container center shadow main-container">
!?{friends}
		<form method="post" enctype="multipart/form-data">
			<label class="text-nm" for="receiver-post">Choose a friend: </label>
			<select class="text-nm" id="receiver-post" name="username">
!#				
!$				<option value="!${friend}">
!$					!${friend}
				</option>
!#
			</select><br/>

			<textarea id="message-post" class="input col-5" rows="2" type="text" name="message" maxlength="256" placeholder="Message" required></textarea><br/>

			<input type="file" class="col-5" name="photo" accept="image/png,image/jpg,image/jpeg"><br/>

			<input class="button btn-blue btn-med center" accept="image/*" type="submit" name="post" value="Post">
		</form>
!?[friends]
!?{no-friends}
		You do not have friends.
!?[no-friends]
	</div>
</div>