<div class="content">
	<div class="container center shadow">
		<div class="text-big center">Log in</div>
!?{error}
!$		<div class="text-med error-message">Error: !${error-string}</div>
!?[error]
		<form method="post">
			<div class="center">
				<input class="input col-5" type="text" name="username" placeholder="Username"><br/>
				<input class="input col-5" type="password" name="password" placeholder="Password"><br/>

				<input class="button btn-blue btn-med center" type="submit" name="login" value="Log in">
				<a class="button btn-med" href="register">Sign up</a>
			</div>
		</form>
	</div>
</div>