<div class="content">
	<div class="container center shadow text-big">Register</div>
	<div class="container center shadow main-container">
!?{error}
!#
!$		<div class="text-med error-message">Error: !${error}</div>
!#
!?[error]
		<form method="post">
			* <input class="input col-2" type="text" name="username" maxlength="30" placeholder="Username"><br/>
			* <input class="input col-5" type="text" name="email" maxlength="254" placeholder="Email"><br/>
			* <input class="input col-5" type="password" name="password" maxlength="70" placeholder="Password"><br/>

			<input class="button btn-blue btn-med center" type="submit" name="signup" value="Sign up">
		</form>
	</div>
</div>