<div class="content">
	<div class="container center shadow text-big">My profile</div>
	<div class="container center shadow main-container">
!$		<img width="150" height="150" src="/img/!${image}">
!$			<div class="text-med">!${username}</div>
		<form method="post" enctype="multipart/form-data">
			<input class="input col-4" type="text" name="email" maxlength="254" placeholder="Email"
!$					value="!${email}" required><br/>
			<input class="input col-5" type="password" name="password" maxlength="70" placeholder="Password" required><br/>
			<input class="input col-6" name="interests" maxlength="250" placeholder="Interests"
!$					value="!${interests}"required><br/>
			<input class="input col-6" name="skills" maxlength="250" placeholder="Skills"
!$					value="!${skills}"required><br/>
			<input class="input col-1" type="number" name="birthday" max="31" min="1" placeholder="Birth day"
!$					value="!${birth-day}">
			<input class="input col-1" type="number" name="birthmonth" max="12" min="1" placeholder="Birth month"
!$					value="!${birth-month}"><br/>

			<input type="file" class="col-5" name="photo" accept="image/png,image/jpg,image/jpeg"><br/>
			<input class="button btn-blue btn-med center" type="submit" name="save" value="Save changes">
		</form>
	</div>
</div>