.sticky-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

hr {
	border-width: 0px;
    background-color: grey;
    height: 0.5px;					
}

.sticky-top + .content {
  margin-top: 75px;
}

table.row {
    table-layout: auto;
  	width: 100%; 
}

.error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-big {
	font-family: sans-serif;
	font-size: 30px;
}

.text-med {
	font-family: sans-serif;
	font-size: 20px;
}

.text-nm {
	font-family: sans-serif;
	font-size: 15px;	
}

.text-sm {
	font-family: sans-serif;
	font-size: 10px;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
	width: 75%;
	border-radius: 5px;
	border: 1px solid grey;
	padding: 10px;
}

.main-container {
	margin-top: 25px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center-vertical {
	padding: 0 0;
}

.input {
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    border: 1px solid lightgrey;
    height: 30px;
}

.input-red {
	border: 1px solid red;
	box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.8);
}

.button {
	border-radius: 3px;
	border: 1px solid lightgrey;
	background: white;
	height: inherit;
	font-family: sans-serif;
	text-decoration: none;
}

.button:hover {
	background: lightgrey;
}

.button:active {
	background: grey;
}

.button:focus {
	outline: none;
}

.btn-blue {
	background: #43c6ff;
}

.btn-blue:hover {
	background: #24a9e3 ;
}

.btn-blue:focus {
	background: #108dc4;
}

.btn-red {
	background: #ff4343;
}

.btn-red:hover {
	background: #e32424;
}

.btn-red:focus {
	background: #c41010;
}

.btn-med {
	padding: 10px;
	font-size: 15px;
}

.col-1 { width: 10%; }

.col-2 { width: 20%; }

.col-3 { width: 30%; }

.col-4 { width: 40%; }

.col-5 { width: 50%; }

.col-6 { width: 60%; }

.col-7 { width: 70%; }

.col-8 { width: 80%; }

.col-9 { width: 90%; }

.col-10 { width: 100%; }

