.message {
	margin-right: 20%;
	margin-left: 20%;
}

.message-text {
    text-align: left;
    margin-left: 20px;
    word-break: break-all;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message > * {
	font-family: sans-serif;
}

.message-date {
    text-align: right;
    color: gray;
    font-size: 10px;
}