<div class="content">
	<div class="container center shadow text-big">Home</div>
	<div class="container center shadow main-container">
!#
		<div class="message">
			<table class="row">
				<tr>
!$ 					<td class="col-2">!${sender}</td>
					<td class="arrow col-1">&rarr;</td>
!$ 					<td class="col-2">!${receiver}</td>
				</tr>
			</table>
!$		<div class="message-text">!${message-text}</div>
!?{image}
!$ 		<img class="message-image" width="100" height="100" src="/img/!${image}">
!?[image]

		<form action="post" method="POST">
			<table class="row">
				<tr>
					<td>
!$						<button class="button btn-red" type="submit" name="delete" value="!${pid}">Delete post</button>
					</td>
					<td class="message-date">
!$						!${date}
					</td>
				</tr>
			</table>			
		</form>
		<hr>
		</div>
!#
		<div style="font-family: sans-serif;">No more messages</div>
	</div>
</div>