<div id="header" class="sticky-top shadow">
	<table class="row">
		<tr>
			<td class="col-5" id="site-name">
				Super secure social network
			</td>
			<td class="col-2">
				<a class="header-link" href="friends">Friends</a>
				<a class="header-link" href="home">Home</a>
				<a class="header-link" href="post">Post</a>
				<a class="header-link" href="profile">Profile</a>
			</td>
			<td class="col-2" id="header-user">
!$				!${user-name}
			</td>

			<td class="col-1">	
				<form action="login" method="post">
					<button id="logout-button" class="button" type="submit" name="logout" value="logout">Logout</button>
				</form>
			</td>
		</tr>
	</table>
</div>
