#header {
	border: 1px solid #21bcff;
	background: #21bcff;
	height: 35px;
	padding: 5px;
}

#header-user {
    text-align: right;
    font-family: sans-serif;
}

#site-name {
	font-family: monospace;
	font-size: 25px;
	text-align: left;
}

#logout-button {
	width: 50%;
    margin-left: 25%;
}

.header-link {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.header-link:hover {
	color: blue;
}